@import "tailwindcss";

:root {
  --bg-color: #242424;
  --text-color: #ffffff;
  --card-color: #2b2b2b;
  --border-color: #CED4DA;

  /* Dark mode hover */
  --hover-color: #404040;
  --hover-text-color: #ffffff;


  /* div bg */
}

:root.light {
  --bg-color: #ffffff;
  --text-color: #222222;
  --card-color: #eeeeee;
  --border-color: #222222;

  /* Light mode hover = gray-100 */
  --hover-color: #f9f9f9;
  --hover-text-color: #222222;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

/* Theme classes */
.theme-bg {
  background-color: var(--bg-color);
}

.theme-card {
  background-color: var(--card-color);
}

.theme-text {
  color: var(--text-color);
}

.theme-border {
  border-color: var(--border-color);
}

.theme-hover:hover {
  background-color: var(--hover-color);
  color: var(--hover-text-color);
}

.theme-div {
  background-color: var(--bg);
}